*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins','Arial';
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(135deg, #272727, #1a1a1a);
    color: white;
    font-size: 1.6rem;
    line-height: 1.6;
}


section {
    display: none;
}

section.active {
    display: block;
}

.title{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase; /* Change to uppercase */
    color: #f39c12;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 9rem 9% 5rem;
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.3s ease;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    color: #f39c12;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

nav a:hover {
    color: #e74c3c;
}

.logo{
    font-size: 4rem;
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.5s ease;
    color: #f39c12;
}

.logo:hover{
    transform: scale(1.1);
}
.call-btn{
    display: flex;
    gap: 5rem;
}

.call-btn a{
    color: #f39c12;
    font-size: 1.5rem;
}

.call-btn a:hover{
    transform: scale(1.1);
    color: #e74c3c;
}

.call-btn i{
    margin-right: 1rem ;
}


/* BANNER */
section{
    min-height: 100vh;
    padding: 9rem 9% 5rem ;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 9rem 9% 5rem;
    min-height: 100vh;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home .profilePic {
    border-radius: 50%;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .profilePic img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 5.5rem;
}

#home .intro {
    max-width: 600px;
    text-align: center;
}

#home .intro h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    background: linear-gradient(135deg, #f39c12, #e74c3c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .intro p {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    color: #bdc3c7;
}

.intro .action-btn {
    font-size: 2rem;
    padding: 1rem 2rem;
    background: linear-gradient(135deg, #f39c12, #e74c3c);
    color: white;
    border-radius: 1rem;
    border: none;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.intro .action-btn:hover {
    background: linear-gradient(135deg, #e74c3c, #f39c12);
    color: white;
}

/* SKILLS */
#skills {
    text-align: center;
    padding: 9rem 9% 5rem;
}

.tools-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tools-icon .tools {
    flex: 1 1 calc(25% - 1rem); /* Adjust width to 25% minus the gap */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    margin-bottom: 8rem;
}

.tools-icon .tools img {
    height: 50px;
    width: 50px;
    margin-bottom: .3rem;
    transition: transform 0.3s ease;
}

.tools-icon .tools:hover {
    transform: scale(1.2);
}

.tools-icon .tools:hover img {
    transform: scale(1.2);
}

.intro .action-btn{
    font-size: 3rem;
}
.action-btn{
    display: inline-block;
    padding: 1rem;
    background: linear-gradient(135deg, #f39c12, #e74c3c);
    color: white;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-btn:hover{
    background: linear-gradient(135deg, #e74c3c, #f39c12);
    color: white;
}

.progress-bar {
    width: 70%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0.5rem;
}

.progress {
    height: 13px;
    background: linear-gradient(135deg, #f39c12, #e74c3c);
    border-radius: 5px;
}




/* PROJECTS */
.projects {
    padding: 9rem 9% 5rem;
    background-color: #191919;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.projects .box{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
   
}
.projects .box .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 365px;
    width: 365px;
    padding: 2rem;
    background: #101010;
    border-radius: 10px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease;
}
.card-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.projects .box .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.projects .box .card .card-img{
    margin-bottom: 1rem;
}
.projects .box .card .card-img img{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
}





/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 9rem 9% 5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form div {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left; /* Ensure label is aligned to the left */
    width: 100%; /* Make label take full width */
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.contact-form button {
    width: 100%;
    padding: 1rem;
    background: linear-gradient(135deg, #f39c12, #e74c3c);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-form button:hover {
    background: linear-gradient(135deg, #e74c3c, #f39c12);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2rem;
}

.footer h1 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer div {
    display: flex;
    gap: 2rem;
}

.footer a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer a:hover {
    color: #f39c12;
    transform: scale(1.1);
}

.footer i {
    font-size: 2rem;
}

.footer a {
    margin: 0 1rem;
    color: white;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #f39c12;
}


